
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Pages to visit</h1>


      <table class="links-table col-xs-12">
      <tr class="">
        <td class="col-xs-3">
          <%= image_tag "thelastweb.png", :class => "autoResizeImage" %>
          <%= link_to "Visit The Last Web", 'http://dales-bootstrap-project.bitballoon.com/' %><br>
        </td>
        <td class="col-xs-3">
          <%= image_tag 'tensecondmath.png', :class => "autoResizeImage" %>
          <%= link_to "Play 10 Seconds of Math", 'http://tensecondmath.bitballoon.com/' %><br>
        </td>
        <td class="col-xs-3">
          <%= image_tag 'highchart.png', :class => "autoResizeImage" %>
          <%= link_to "Chart some annotations", example_path %><br>
        </td>
      </tr>
      </table>
    </div>
  </div>
</div>